@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: bakh;
    src: url("../font/yekanbakh/YekanBakhFaNum-Light.woff");
}

*{
    font-family: bakh;
}



html {
    direction: rtl;
  }
  